#send_Message
{
    z-index: 0;
}
#Sender_message
{
    z-index: 0;
}
@font-face {
    font-family: 'Righteous-Regular';
    src: url('../fonts/Righteous/Righteous-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Monoton';
    src: url('../fonts/Monoton/Monoton-Regular.ttf') format('truetype');
}
#logo1
{
    font-family: 'Monoton';
    font-size: larger;
    padding-top: 10px;
}