@font-face {
    font-family: 'Righteous-Regular';
    src: url('../fonts/Righteous/Righteous-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Monoton';
    src: url('../fonts/Monoton/Monoton-Regular.ttf') format('truetype');
}
#logo1
{
    font-family: 'Monoton';
    font-size: larger;
    padding-top: 10px;
}
#session_persiste
{
    position: relative;
    left: 7%;
    right: auto;
    bottom: 80px;
}
#boutton_connexion
{
    position: relative;
    top: 20px;
}
.nopadding
{
    padding: 1px !important;
    margin: 0 !important;
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}

.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
    padding: 1px 15px;
    color: #A0A0A0;
}

.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}